/* font-family: "Bebas Neue", cursive; */

.collapse > ul > li > a {
  font-family: "Roboto", sans-serif;
}
.top-name {
  font-family: "Bebas Neue", cursive;
  font-size: 80px;
  line-height: 96px;
  margin-top: 100px;
}
.card {
  background-color: rgb(255, 255, 255);
}
.card > img {
  background: #f1f1f1;
  border-radius: 10px;
}
.btn-primary {
  background: linear-gradient(180deg, #a4bc46 0%, #85a019 100%);
}
.d-flex {
  margin-top: 40px;
}
button {
  color: white;
  font-family: "Roboto", sans-serif;
}
.d-flex > h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  color: #fabe4c;
}
.my-5 {
  font-family: "Bebas Neue", cursive;
  font-size: 48px;
}
